<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Philmark Joshua Miller</h1>
 <p>Greetings, this is the one and only phil. I atteneded Glenmuir High 
    School. I now attend the University Of The West Indies and my major is Computer Science.
    I chose this major because it will help me develop the skills and attitude needed to become a video game developer.
    I have a interest in Web Development because i love to learn front end development.</p>
</body>
</html>